In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
data = pd.read_csv('listings.csv')
data.head(2)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,35797,https://www.airbnb.com/rooms/35797,20240925021012,2024-09-25,city scrape,Villa Dante,"Dentro de Villa un estudio de arte con futon, ...","Santa Fe Mall, Interloma Park and the Lion Des...",https://a0.muscache.com/pictures/f395ab78-1185...,153786,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
1,44616,https://www.airbnb.com/rooms/44616,20240925021012,2024-09-26,previous scrape,Condesa Haus,A new concept of hosting in mexico through a b...,NaN,https://a0.muscache.com/pictures/251410/ec75fe...,196253,...,4.78,4.98,4.48,NaN,f,8,4,1,0,0.41

In [26]:
#Calculamos valores nulos y mostramos todas la filas
valores_nulos= data.isnull().sum() 
valores_nulos

#Se crea un archivo csv para ver todas las columnas que tengan valores nulos
valores_nulos.to_csv('Valores_Nulos_Filas.csv', index=True)

In [27]:
#Identificar valores nulos por columna
valores_nulos=data.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [28]:
data2=data.copy()
data2.head(2)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,35797,https://www.airbnb.com/rooms/35797,20240925021012,2024-09-25,city scrape,Villa Dante,"Dentro de Villa un estudio de arte con futon, ...","Santa Fe Mall, Interloma Park and the Lion Des...",https://a0.muscache.com/pictures/f395ab78-1185...,153786,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
1,44616,https://www.airbnb.com/rooms/44616,20240925021012,2024-09-26,previous scrape,Condesa Haus,A new concept of hosting in mexico through a b...,NaN,https://a0.muscache.com/pictures/251410/ec75fe...,196253,...,4.78,4.98,4.48,NaN,f,8,4,1,0,0.41

In [29]:
#Eliminamos valores nulos de description
#Sustituir valores nulos con Descripcion para description
data2["description"]=data2["description"].fillna("Descripcion")

In [30]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [31]:
#Eliminamos valores nulos de neighborhood_overview
#Sustituir valores nulos con descripción general del vecindario para neighborhood_overview
data2["neighborhood_overview"]=data2["neighborhood_overview"].fillna("descripción general del vecindario")

In [32]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [33]:
#Eliminamos valores nulos de host_location
data2["host_location"]=data2["host_location"].fillna(method="ffill")

C:\Users\carli\AppData\Local\Temp\ipykernel_13960\1658340090.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_location"]=data2["host_location"].fillna(method="ffill")

In [34]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [35]:
#Eliminamos valores nulos de host_about
#Sustituir valores nulos con host_about para host_about
data2["host_about"]=data2["host_about"].fillna("host_about")

In [36]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [37]:
#Eliminamos valores nulos de host_response_time
data2["host_response_time"]=data2["host_response_time"].fillna(method="ffill")

C:\Users\carli\AppData\Local\Temp\ipykernel_13960\720507683.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_response_time"]=data2["host_response_time"].fillna(method="ffill")

In [38]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [39]:
#Eliminamos valores nulos de host_response_rate
data2["host_response_rate"]=data2["host_response_rate"].fillna(method="bfill")

C:\Users\carli\AppData\Local\Temp\ipykernel_13960\3133279827.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_response_rate"]=data2["host_response_rate"].fillna(method="bfill")

In [40]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [41]:
#Eliminamos valores nulos de host_acceptance_rate
data2["host_acceptance_rate"]=data2["host_acceptance_rate"].fillna(method="bfill")

C:\Users\carli\AppData\Local\Temp\ipykernel_13960\1400740286.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["host_acceptance_rate"]=data2["host_acceptance_rate"].fillna(method="bfill")

In [42]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [43]:
#Eliminamos valores nulos de host_is_superhost
#Sustituir valores nulos con t para host_is_superhost
data2["host_is_superhost"]=data2["host_is_superhost"].fillna("t")

In [44]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [45]:
#Eliminamos valores nulos de host_neighbourhood
#Sustituir valores nulos con sin host_neighbourhood para host_neighbourhood
data2["host_neighbourhood"]=data2["host_neighbourhood"].fillna("host_neighbourhood")

In [46]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [47]:
#Eliminamos valores nulos de neighbourhood
#Sustituir valores nulos con Mexico City, D.f., Mexico para neighbourhood
data2["neighbourhood"]=data2["neighbourhood"].fillna("Mexico City, D.f., Mexico")

In [48]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [49]:
#Eliminamos valores nulos de neighbourhood_group_cleansed
#Sustituir valores nulos con neighbourhood_group_cleansed para neighbourhood_group_cleansed
data2["neighbourhood_group_cleansed"]=data2["neighbourhood_group_cleansed"].fillna("neighbourhood_group_cleansed")

In [50]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [51]:
#Eliminamos valores nulos de  bathrooms
#Sustituir valores nulos con media para bathrooms
data2["bathrooms"]=data2["bathrooms"].fillna(round(data["bathrooms"].median(),2))

In [52]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [53]:
#Eliminamos valores nulos de bathrooms_text
data2["bathrooms_text"]=data2["bathrooms_text"].fillna(method="bfill")

C:\Users\carli\AppData\Local\Temp\ipykernel_13960\3257592229.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["bathrooms_text"]=data2["bathrooms_text"].fillna(method="bfill")

In [54]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [55]:
#Eliminamos valores nulos de  bedrooms
#Sustituir valores nulos con media para bedrooms
data2["bedrooms"]=data2["bedrooms"].fillna(round(data["bedrooms"].median(),2))

In [56]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [57]:
#Eliminamos valores nulos de beds
#Sustituir valores nulos con promedio para beds
data2["beds"]=data2["beds"].fillna(round(data["beds"].mean(),2))

In [58]:
#Eliminamos valores nulos de price
#Sustituir valores nulos con promedio para price
#Eliminar el signo de pesos y convertir a numérico
data2["price"] = data2["price"].replace('[\$,]', '', regex=True).astype(float)
data2["price"] = data2["price"].fillna(round(data2["price"].mean(), 2))

In [59]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [60]:
#Eliminamos valores nulos de calendar_updated
#Sustituir valores nulos con calendar_updated para calendar_updated
data2["calendar_updated"]=data2["calendar_updated"].fillna("calendar_updated")

In [61]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [62]:
#Eliminamos valores nulos de has_availability
#Sustituir valores nulos con t para has_availability
data2["has_availability"]=data2["has_availability"].fillna("t")

In [63]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [64]:
#Eliminamos valores nulos de first_review
#Sustituir valores nulos con fillna para first_review
data2["first_review"]=data2["first_review"].fillna("2030-05-19")

In [65]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [66]:
#Eliminamos valores nulos de last_review
#Sustituir valores nulos con fillna para last_review
data2["last_review"]=data2["last_review"].fillna("2028-05-19")

In [67]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [68]:
#Eliminamos valores nulos de review_scores_rating
#Sustituir valores nulos con promedio para review_scores_rating
data2["review_scores_rating"]=data2["review_scores_rating"].fillna(round(data["review_scores_rating"].mean(),2))

In [69]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [70]:
#Eliminamos valores nulos de  review_scores_accuracy
#Sustituir valores nulos con media para review_scores_accuracy
data2["review_scores_accuracy"]=data2["review_scores_accuracy"].fillna(round(data["review_scores_accuracy"].median(),2))

In [71]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [72]:
#Eliminamos valores nulos de review_scores_cleanliness
#Sustituir valores nulos con promedio para review_scores_cleanliness
data2["review_scores_cleanliness"]=data2["review_scores_cleanliness"].fillna(round(data["review_scores_cleanliness"].mean(),2))

In [73]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [74]:
#Eliminamos valores nulos de review_scores_checkin
#Sustituir valores nulos con promedio para review_scores_checkin
data2["review_scores_checkin"]=data2["review_scores_checkin"].fillna(round(data["review_scores_checkin"].mean(),2))

In [75]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [76]:
#Eliminamos valores nulos de review_scores_communication
#Sustituir valores nulos con promedio para review_scores_communication
data2["review_scores_communication"]=data2["review_scores_communication"].fillna(round(data["review_scores_communication"].mean(),2))

In [77]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [78]:
#Eliminamos valores nulos de  review_scores_location
#Sustituir valores nulos con media para review_scores_location
data2["review_scores_location"]=data2["review_scores_location"].fillna(round(data["review_scores_location"].median(),2))

In [79]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [80]:
#Eliminamos valores nulos de review_scores_value
#Sustituir valores nulos con promedio para review_scores_value
data2["review_scores_value"]=data2["review_scores_value"].fillna(round(data["review_scores_value"].mean(),2))

In [81]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [82]:
#Eliminamos valores nulos de license
#Sustituir valores nulos con t para license
data2["license"]=data2["license"].fillna("S/N")

In [83]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [84]:
#Eliminamos valores nulos de reviews_per_month
#Sustituir valores nulos con t para reviews_per_month
data2["reviews_per_month"]=data2["reviews_per_month"].fillna(round(data["reviews_per_month"].mean(),2))

In [88]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(190673)

In [86]:
valores_nulos= data2.isnull().sum() 
valores_nulos

#Se crea un archivo csv para ver todas las columnas que tengan valores nulos
valores_nulos.to_csv('Valores_Nulos_Final.csv', index=True)

In [87]:
data2.to_csv("CDMX_Final.csv")

In [92]:
valores_nulos= data2.isnull().sum().sum()
valores_nulos

np.int64(0)